body {
  padding: 125px 400px;
  background-color: #ffffff;
  text-align: center;
  font-family: Lato;
  font-weight: 300;
}

img {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  border: 1px solid #e5e5e5;
  margin-bottom:25px;
}

.first {
  font-size: 28px;
  letter-spacing: -0.5px;
}

.second {
  line-height: 25px;
  text-align: left;
  margin-top: 20px;
  font-size: 18px;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

footer {
  margin-top: 100px;
  text-transform: uppercase;
}

a.footer {
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  color: #999999;
  margin-right: 15px;
  transition: all 0.3s;
}

a.footer:hover {
  color: black;
}
