@media (max-width: 500px) {
  body {
    padding: 25px;
  }

  footer {
    margin-top: 50px;
  }
}

@media (min-width: 501px) {
  body {
    padding: 125px 200px;
  }

  footer {
    margin-top: 100px;
  }
}

.first {
  font-size: 28px;
  letter-spacing: -0.5px;
}

.second {
  line-height: 25px;
  text-align: left;
  margin-top: 20px;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: rgb(75, 165, 127);
  font-weight: 600
}

a.icon {
  color: grey;
  opacity: 0.7;
  margin-right: 15px;
}

a:hover {
  text-decoration: none;
}

footer {
  text-transform: uppercase;
}

a.footer {
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  color: #999999;
  margin-right: 15px;
  transition: all 0.3s;
}

a.footer:hover {
  color: black;
}

.main-h1 {
  position: relative;
  margin-top: 5px;
  margin-bottom: 0px;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  color: #000;
  font-size: 12vh;
  line-height: 16vh;
  font-weight: 400;
}

p {
  margin-bottom: 20px;
font-family: Roboto, sans-serif;
color: grey;
font-size: 18px;
line-height: 32px;
font-weight: 300;
}
